<div class="container">
               <div class="row">
                              <div class="col-md-6">

                                             <p>
                                                            {{goal.description}}
                                                            <button (click)='goalDelete(true)' class="btn btn-outline-danger">Delete Goal</button></p>
                                                            <p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
                                             

                              </div>
               </div>
</div>